#title{
   background-color: aquamarine;
   margin-top: 100px;
   margin-left: 100px;
   margin-right: 100px;
   height: 110px   ;
   width: 450px;
   border-radius: 10px;
   color:dodgerblue;
}
img{
    width: 125px;
    height:125px;
    border-radius: 100px;
    margin-left: 20px;
    margin-top: 25px;
    margin-right: 20px;
    border: 7px solid white;
    
}
#contact-info{
    background-color: bisque;
    margin-top: -30px;
    margin-left: 100px;
    margin-right: 100px;
    height: 150px   ;
    width: 450px;
    border-top-left-radius:0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
   
}
#div1{
    margin-left: 300px;
    margin-top: 100px;
}
p{
    padding-left: 70px;
    padding-top: 30px;
}
body{
    background-color:aqua